
F2P/Library/assetDatabase3
F2P/Library/CrashedAssetImports.txt
F2P/Library/CurrentMaximizeLayout.dwlt
F2P/Library/EditorInstance.json
F2P/Library/InspectorExpandedItems.asset
F2P/Library/metadata/11/119565fa38fc09a4a9011afedaa623db.info
F2P/Library/metadata/60/602ba7e96889ef54d88c353ca3a80ba0
F2P/Library/metadata/68/6880e513eacaa8e49a843c2efee4c8dc.info
F2P/Library/ScriptAssemblies/Assembly-CSharp.dll
F2P/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
F2P/Library/shadercompiler-UnityShaderCompiler.exe0.log
F2P/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
F2P/Temp/__Backupscenes/0.backup
F2P/Temp/ProcessJobs/e4d7cdea9e7b674007a994e68f178ef6.bakert
F2P/Temp/UnityLockfile
F2P/Temp/UnityTempFile-32a0c8420b3f1944a92e3c9a0f4d0596
F2P/Temp/UnityTempFile-3bd315db86cfb554bb06e3a20daee505
F2P/Temp/UnityTempFile-3c03c4ddb8ffc374f91d29f1da2a3988
F2P/Temp/UnityTempFile-4aff33b3708037b4697bb884166c855d
F2P/Temp/UnityTempFile-5b6b9067f579700498beedcf708c68b7
F2P/Temp/UnityTempFile-638b7be8e903f4a4699dd2cf004024c5
F2P/Temp/UnityTempFile-900dea48363fe4145837cd89e840bd92
F2P/Temp/UnityTempFile-b028bb08656209946bf36628de63a742
F2P/Temp/UnityTempFile-c8546cf5a766415499f2b15e47fe2171
F2P/Temp/UnityTempFile-d41cb536bf487574eaeaf9a1a5d0e5b3
F2P/Temp/UnityTempFile-e2d0782aa87309248bfbe344edbf9e98
F2P/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.cache
*.info
F2P/.vs/F2P/v15/.suo
F2P/.vs/F2P/v15/Server/sqlite3/storage.ide-shm
F2P/Library/CurrentMaximizeLayout.dwlt
F2P/Library/InspectorExpandedItems.asset
F2P/Library/CurrentMaximizeLayout.dwlt
F2P/Library/CurrentMaximizeLayout.dwlt
F2P/Library/ScriptAssemblies/Assembly-CSharp.dll
F2P/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
F2P/Library/assetDatabase3
F2P/Library/shadercompiler-UnityShaderCompiler.exe0.log
F2P/Library/CurrentLayout.dwlt
